*{
   padding:0;
   margin: 0;
   box-sizing: border-box; 
}

html{
    font-size: 10px
}

body{
    color: #fafafa;
    background: #080808;
    text-align: center;
}

h1{
    font-size: 4rem;
}
.container{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 5rem auto 6rem;
    perspective: 100rem;
}

.container .cube{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .cube img{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
.img1{
    transform:translateZ(15rem);
}
.img2{
    transform:rotateX(-180deg) translateZ(15rem);
}
.img3{
    transform:rotateY(90deg) translateZ(15rem);
}
.img4{
    transform:rotateY(-90deg) translateZ(15rem);
}
.img5{
    transform:rotateX(90deg) translateZ(15rem);
}
.img6{
    transform:rotateX(-90deg) translateZ(15rem);
}

h2{
    margin-bottom: 50px;
}

.image-buttons{
    display: grid;
    grid-template-columns: 105px 105px 105px ;
    grid-template-rows: 85px 85px;
    justify-content: center;
    grid-gap: 1.5rem;

}
.image-buttons input{
    width: 105px;
    outline: none;
    border: 2px solid #fafafa;
}
.image-buttons input:focus{
    border: 2px solid #e70;
}
.cube.noting{
    transform: translateZ(-15rem) rotateX(-15deg) rotateY(18deg);
}
.cube.show-image-1{
    transform: translateZ(-15rem);
}
.cube.show-image-2{
    transform: translateZ(-15rem) rotateX(180deg);
}
.cube.show-image-3{
    transform: translateZ(-15rem) rotateY(-90deg);
}
.cube.show-image-4{
    transform: translateZ(-15rem) rotateY(90deg);
}
.cube.show-image-5{
    transform: translateZ(-15rem) rotateX(-90deg);
}
.cube.show-image-6{
    transform: translateZ(-15rem) rotateX(90deg);    
}
